.footer {
  background-color: $colorDarkGray;
  &__up {
    height: 245px;
    color: $colorWhite;
    font-size: 16px;
    display: flex;
  }

  &__left {
    width: 50%;
    display: flex;
    align-items: center;
  }

  &__info {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__item {
    padding: 5px;
  }

  &__item-head {
    font-weight: bold;
  }

  &__right {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    align-items: center;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
  }

  &__line {
    height: 0.5px;
    width: 100%;
    background-color: $colorHalfGray;
    opacity: 0.25;
  }

  &__down {
    height: 75px;
    color: $colorWhite;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__policy {
    display: flex;
    padding: 2px;
    align-items: space-between;
  }

  &__follow {
    display: flex;
    justify-content: space-between;
  }

  &__follow-us {
    font-size: 21px;
  }

  &__number {
    font-size: 28px;
  }

  &__social {
    width: 44px;
  }

  &__cards {
    height: 23px;
  }

  &__line-phone {
    display: none;
  }
}

@media (max-width: 799px) {
  .footer {
    height: 609px;
    &__up {
      flex-direction: column-reverse;
      height: 460px;
    }
    &__down {
      margin: 40px 0;
      flex-direction: column-reverse;
    }
    &__left {
      width: 100%;
      display: flex;
      align-items: center;
    }
    &__right {
      display: flex;
      justify-content: center;
      width: 100%;
      align-items: center;
    }
    &__info {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__policy {
      display: none;
    }
    &__line-phone {
      display: flex;
    }
    &__credit-card {
      margin: 10px;
    }
  }
}
