.form {
  background-color: $colorWhite;
  display: flex;
  margin-top: 148px;
  flex-direction: column;
  max-width: 470px;
  padding: 50px;

  &__label {
    margin-top: 30px;
    margin-bottom: 8px;
    font-weight: medium;
    font-size: 20px;
    letter-spacing: -0.15px;
  }

  &__option {
    font-size: 20px;
    background-color: $colorHalfGray;
  }

  &__select {
    height: 60px;
    font-size: 20px;
    color: $colorGray;
    padding-left: 20px;
  }
}

@media (max-width: 1023px) {
  .form {
    max-width: 400px;
  }
}
