.form {
  background-color: $colorWhite;
  display: flex;
  margin-top: 148px;
  flex-direction: column;
  max-width: 470px;
  padding: 50px;

  &__label {
    margin-top: 30px;
    margin-bottom: 8px;
    font-weight: medium;
    font-size: 20px;
    letter-spacing: -0.15px;
  }

  &__option {
    font-size: 20px;
    background-color: $colorHalfGray;
  }

  &__select {
    height: 60px;
    font-size: 20px;
    color: $colorGray;
    padding-left: 20px;
  }
}

@media (max-width: 1023px) {
  .form {
    margin-top: 100px;
    flex-direction: column;
    max-width: 340px;
    padding: 30px;
  }
}

@media (max-width: 799px) {
  .form {
    flex-direction: column;
    margin: 320px auto;
    max-width: 374px;
    padding: 20px;
    color: $colorWhite;
    background-color: $colorDarkGray;
    &__label {
      margin-top: 10px;
    }
  }
}
