.section__buy {
  margin-bottom: 154px;
}

.section__order-online {
  margin-bottom: 90px;
}

.section__locations {
  background-color: $colorOrange;
}

.section__special-deals {
  margin-bottom: 140px;
}

@media (max-width: 799px) {
  .section__special-deals {
    margin-bottom: 100px;
  }
  .section__order-online {
    margin-bottom: 71px;
  }
  .section__buy {
    margin-bottom: 33px;
  }
}
