.section__buy {
  margin-bottom: 154px;
}

.section__order-online {
  margin-bottom: 112px;
}

.section__locations {
  background-color: $colorOrange;
}

.section__special-deals {
  margin-bottom: 140px;
}
